<body class="text-center">
  <br/>
  <br/>
  <br/>
  <br/>
  <div class="container">
    <h1>Nous contacter</h1>
    <p>Email : email@gmail.com</p><br/>
    <p>Tél : 0601020304</p><br/><br/>
  </div>
  <div class="container">
    <button type="button" class="btn btn-secondary"><%= link_to "Revenir à l'accueil", root_path %></button>
  </div>
  <br/>
  <br/>
  <br/>
  <br/>
</body>
